.float-parent-element { 
    width: 100%; 
} 
.float-child-element1 { 
    float: left; 
    width: 50%; 
} 
  .images {
    float: right;
    width: 50%;
}


    body {
      box-sizing: border-box;
      margin: 0;
      padding: 13px;
      display: flex;
      flex-direction: column;
      max-height: 100vh;
      font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    }

  
    
    .messages {
      flex-shrink: 1;
      overflow: auto;
    }

    .message {
      padding: 5px 0;
    }
    .message .member {
      display: inline-block;
    }

    .member {
      padding-right: 10px;
      position: relative;
    }

    .message-form {
      display: flex;
      flex-shrink: 0;
      width: 50%;
    }
    .message-form__input {
      flex-grow: 1;
      border: 1px solid #dfdfdf;
      padding: 5px 7px;
      font-size: 16px;
      width: 50%;
    }
    .message-form__button {
      margin: 5px;
    }